$blockquote: $type-border !default;
$sans: "PT Sans", "Helvetica Neue", Arial, sans-serif !default;
$serif: gentium_book_basicregular, serif !default;
$serif-bold: gentium_book_basicbold, serif !default;
$serif-italic: gentium_book_basicitalic, serif !default;
$mono: inconsolatamedium, monospace !default;
$heading-font-family: gentium_book_basicregular, sans-serif !default;
$header-title-font-family: gentium_book_basicbold !default;
$header-subtitle-font-family: $heading-font-family !default;

// Fonts

@font-face {
    font-family: 'gentium_book_basicregular';
    src: font-url('genbkbasr-webfont.eot');
    src: font-url('genbkbasr-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('genbkbasr-webfont.woff') format('woff'),
         font-url('genbkbasr-webfont.ttf') format('truetype'),
         font-url('genbkbasr-webfont.svg#gentium_book_basicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gentium_book_basicbold';
    src: font-url('genbkbasb-webfont.eot');
    src: font-url('genbkbasb-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('genbkbasb-webfont.woff') format('woff'),
         font-url('genbkbasb-webfont.ttf') format('truetype'),
         font-url('genbkbasb-webfont.svg#gentium_book_basicbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gentium_book_basicbold_italic';
    src: font-url('genbkbasbi-webfont.eot');
    src: font-url('genbkbasbi-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('genbkbasbi-webfont.woff') format('woff'),
         font-url('genbkbasbi-webfont.ttf') format('truetype'),
         font-url('genbkbasbi-webfont.svg#gentium_book_basicbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gentium_book_basicitalic';
    src: font-url('genbkbasi-webfont.eot');
    src: font-url('genbkbasi-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('genbkbasi-webfont.woff') format('woff'),
         font-url('genbkbasi-webfont.ttf') format('truetype'),
         font-url('genbkbasi-webfont.svg#gentium_book_basicitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inconsolatamedium';
    src: font-url('inconsolata-webfont.eot');
    src: font-url('inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('inconsolata-webfont.woff') format('woff'),
         font-url('inconsolata-webfont.ttf') format('truetype'),
         font-url('inconsolata-webfont.svg#inconsolatamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.heading {
  font-family: $heading-font-family;
}
.sans { font-family: $sans; }
.serif { font-family: $serif; }
.mono { font-family: $mono; }

body > header h1 {
  font-size: 2.2em;
  @extend .heading;
  font-family: $header-title-font-family;
  font-weight: normal;
  line-height: 1.2em;
  margin-bottom: 0.6667em;
}
body > header h2 {
  font-family: $header-subtitle-font-family;
}

body {
  line-height: 1.5em;
  color: $text-color;
  @extend .serif;
}
h1 {
  font-size: 2.2em;
  line-height: 1.2em;
}

#{headings()}{
  @extend .heading;
  text-rendering: optimizelegibility;
  margin-bottom: 1em;
  font-family: $serif-bold;
}
h2, section h1 {
  font-size: 1.5em;
}
h3, section h2, section section h1 {
  font-size: 1.3em;
}
h4, section h3, section section h2, section section section h1 {
  font-size: 1em;
}
h5, section h4, section section h3 {
  font-size: .9em;
}
h6, section h5, section section h4, section section section h3 {
  font-size: .8em;
}

p, article blockquote, ul, ol { margin-bottom: 1.5em; }

ul { list-style-type: disc;
  ul { list-style-type: circle; margin-bottom: 0px;
    ul { list-style-type: square; margin-bottom: 0px; }}}

ol { list-style-type: decimal;
  ol { list-style-type: lower-alpha; margin-bottom: 0px;
    ol { list-style-type: lower-roman; margin-bottom: 0px; }}}

ul, ol { &, ul, ol { margin-left: 1.3em; }}
ul, ol { ul, ol { margin-bottom: 0em; }}

strong { font-family: $serif-bold; }

em { font-family: $serif-italic; }

sup, sub { font-size: 0.75em; position: relative;  display: inline-block; padding: 0 .2em; line-height: .8em;}
sup { top: -.5em; }
sub { bottom: -.5em; }

a[rev='footnote']{ font-size: .75em; padding: 0 .3em; line-height: 1; }

q { font-family: $serif-italic;
  &:before { content: "\201C"; }
  &:after { content: "\201D"; }
}

em, dfn { font-family: $serif-italic; }

strong, dfn { font-family: $serif-bold; }

del, s { text-decoration: line-through; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

pre, code, tt { @extend .mono; }

hr { margin-bottom: 0.2em; }

small { font-size: .8em; }

big { font-size: 1.2em; }

article blockquote {
  $bq-margin: 1.2em;
  font-family: $serif-italic;
  position: relative;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-left: 1em;
  border-left: 4px solid rgba($text-color-light, .5);
  cite {
    font-family: $serif-italic;
    a { color: $text-color-light !important; word-wrap: break-word; }
    &:before { content: '\2014'; padding:{right: .3em; left: .3em;} color: $text-color-light; }
  }
  @media only screen and (min-width: 992px) {
    padding-left: 1.5em;
    border-left-width: 4px;
  }
}

.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;

  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.4em;
  font-family: $serif-bold;
  line-height: 1.45em;
}

.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0;
}

/* @extend this to force long lines of continuous text to wrap */
.force-wrap {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

